<ion-card>
  <ion-card-header>
    <ion-card-title>
      <h1>AniPull</h1>
    </ion-card-title>
    <ion-card-subtitle> AniPull uses the anilist API </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-text>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magnam
      illo aperiam ex nulla excepturi id fugiat provident eaque nisi non
      dignissimos, fuga, recusandae harum nostrum praesentium, perspiciatis
      corrupti a.
    </ion-text>
  </ion-card-content>
</ion-card>
